<section class="questionnaire-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="mb-4">Frequently asked questions</h2>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Crowdtesting might be faster, but is the quality of results any good?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Our crowdtesting community is thoroughly vetted for technical knowledge and
                                    communication skills. Community testers record the issues they find in videos,
                                    screenshots and detailed notes, so that faults can easily be recreated and resolved.
                                    All issues raised by the crowd testers are verified by senior Digivante testers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Will website testing disrupt my release schedule?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Not with Digivante. We work with you to understand your deadlines and constraints and
                                    plan our services to meet your targets. Crowdsourced testing can be delivered
                                    overnight and at weekends. With our large testing community and efficient
                                    techniques, we can carry out extensive testing in a shorter time. It’s not unusual
                                    for us to carry out 90 workdays of testing in 3 days, or 5 days of regression
                                    testing using traditional testing methods to just 5 hours.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Is outsourced web testing secure?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We know that confidentiality is a real concern when using remote testers. Our
                                    business depends on making our testing service secure so you can be certain we take
                                    the greatest care to provide exceptionally secure systems and services. We use
                                    three-way contractual protection between the customer, the testing organisation and
                                    the testers themselves. We’ve worked with leading household names, from Microsoft
                                    and Metro Bank to Audi and Specsavers. They trust us to keep their testing secure
                                    and confidential.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Why should I outsource testing when I have a QA team in house?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Outsourcing your testing can bring economies of scale, efficiency and speed. It
                                    gives you access to a large variety of testing techniques and resources. If you have
                                    a small internal team you may not be able to do the breadth or depth of testing you
                                    really need before releasing a digital product. Outsourcing your test may save you
                                    money because you can apply the right type of testing at exactly the time you need
                                    it, without holding up development. You may be able to perform the testing earlier
                                    in the software development lifecycle too. Recruiting experienced testers can be
                                    hard. Outsourcing your testing takes that headache away.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                What testing capabilities do you cover?
                            </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Our testing capabilities are listed here. We cover a broad range including <a
                                        href="#">regression
                                        testing, accessibility testing, test automation, usability testing</a> and more.
                                    We
                                    provide consultancy, service management and <a href="#">team augmentation.</a> We
                                    deliver
                                    <a href="#">crowdtesting</a> through our global Digivante professional tester
                                    community.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                How do testers access my website environment?
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    That depends if you’re testing in live or pre-production test or staging
                                    environments. For live testing, testers receive the URL and can get to work straight
                                    away. For testing behind a firewall or in pre-production, we recommend using a
                                    Virtual Private Network (VPN). This allows multiple testers to access your securely;
                                    we can track them under a single IP address.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                How many testers are typically used on a project?
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSix"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>It depends on the project and client requirements, but typically it ranges from as
                                    few as 20 testers to as many as 200.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                Our web development partner handles all our testing – why do I need to consider a
                                separate testing provider?
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>There’s a risk when you allow developers to ‘mark their own homework’. A fresh set of
                                    eyes will catch errors that the web developers won’t see. Independent testing gives
                                    you peace of mind that nothing’s been overlooked or hidden.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                I think crowdtesting is too risky for my business. What data is shared with the tester
                                community?
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingEight"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                We use the secure Digivante platform for all our testing data and reporting. Our testers
                                are vetted and verified. We’ve worked with leading household names, from Microsoft and
                                Metro Bank to Audi and Specsavers. They trust us to keep their testing secure and
                                confidential. Talk to us about your specific needs and we’ll work with you to build a
                                testing plan that meets all your security requirements.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                How do you track the defects found during tests?
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingNine"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Each tester can raise defects on a defect report page on our central <a href="#">test
                                        reporting
                                        platform.</a> This includes screenshots and video evidence, along with steps to
                                    reproduce the defect. Testers check that the defect hasn’t already been reported, so
                                    we don’t receive duplicate defect reports. Our QA managers double check the reports
                                    before releasing them to our clients.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                How experienced are your community testers?
                            </button>
                        </h2>
                        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingTen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We value quality a lot in our testing community. Before we accept them, testers take
                                    an exam to check their English language skills and assess their testing competency.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEleven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                How does your test community work?
                            </button>
                        </h2>
                        <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingEleven"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Our <a href="#">test community</a> gives our clients access to thousands of
                                    professional testers in
                                    149 different countries. That means we can deliver very rapidly – reducing days’
                                    worth of conventional testing to a few hours when we mobilise our people all over
                                    the world.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwelve">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThirteen" aria-expanded="false"
                                aria-controls="collapseThirteen">
                                What is community or crowd testing?
                            </button>
                        </h2>
                        <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingTwelve"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Crowdtesting means using our <a href="#">community (or crowd)</a> of vetted testers
                                    for rapid,
                                    large-scale testing on a range of devices and platforms. We use crowdtesting for
                                    exploratory testing and executing test cases. Our central teams manage quality
                                    control to make sure defects are reported clearly, with all duplicates compiled into
                                    a single report, and that defects can be reproduced.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThirteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFourteen" aria-expanded="false"
                                aria-controls="collapseFourteen">
                                We have hundreds of issues in backlog – our dev team couldn’t cope with any more
                            </button>
                        </h2>
                        <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Our crowdtesting community is thoroughly vetted for technical knowledge and
                                    communication skills. Community testers record the issues they find in videos,
                                    screenshots and detailed notes, so that faults can easily be recreated and resolved.
                                    All issues raised by the crowd testers are verified by senior Digivante testers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFourteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                How will external testers know how to test my website?
                            </button>
                        </h2>
                        <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>We always provide a clear brief before testing starts, so testers don’t need their
                                    own domain knowledge. We specify key focus areas and out of scope areas. We give
                                    testers guidance on the type of test. In exploratory testing, website testers have
                                    personal freedom to test any areas in scope. Or we can specify a more prescriptive
                                    approach, so testers execute specific steps within a test case. A Digivante delivery
                                    team member takes responsibility for the test scope and team and manages the quality
                                    and outputs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFifteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                Does Digivante just do crowdtesting?
                            </button>
                        </h2>
                        <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>No. We use crowdsourced testing for some services, like exploratory testing,
                                    executing test cases and accessibility testing. We combine human testing with
                                    automated testing, depending on the specific need. But we also support clients with
                                    usability testing, test strategy and planning through our team augmentation service.
                                    And we provide people to augment client teams, both short-term and long-term.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSixteen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseSeventeen" aria-expanded="false"
                                aria-controls="collapseSeventeen">
                                Where are your community testers based?
                            </button>
                        </h2>
                        <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSixteen"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>Our community is truly global, with testers based in 149 different countries around the world.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>