<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center pb-3">Bring Digivante into your team for <br>exceptional QA</h1>
                <p>Digivante’s usability testing uncovers shortcomings that you couldn’t have predicted and delivers
                    practical recommendations from real users. Discover how to improve loyalty, extend dwell time and
                    increase revenues from your website or app. Request a call from one of our experts or book a demo.
                </p>
            </div>
        </div>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">First name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Last name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Company name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Company email</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Phone number</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Applying to be a tester</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Please Select</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Job title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Additional Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">How did you hear us ?</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-dark mt-3">Submit</button>
        </form>
    </div>
</section>