<div class="feature-section">
    <div class="container">
        <h1 class="text-center my-5">How Digivante usability testing works</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="feature fi-1">
                    <fa-icon class="f-i" [icon]="target"></fa-icon>
                    <h5 class="py-2">Hyper-targeted</h5>
                    <p>We work with you to identify your target demographic, then we identify people within the Digivante
                    community that match those requirements.</p>
                </div>

                <div class="feature f-4">
                    <fa-icon class="fo-i" [icon]="chalkboard"></fa-icon>
                    <h5 class="py-2">Prioritisation</h5>
                    <p>We categorise issues by severity, guided by Nielsen’s industry standard principles.</p>
                </div>

            </div>

            <div class="col-md-4">

                <div class="feature f-2">
                    <fa-icon class="se-i" [icon]="laptop"></fa-icon>
                    <h5 class="py-2">Real reactions</h5>
                    <p>We capture pre- and post- experience descriptions of user reactions and feelings.</p>
                </div>

                <div class="feature f-5">
                    <fa-icon class="fif-i" [icon]="flag"></fa-icon>
                    <h5 class="py-2">Demographic data</h5>
                    <p>We create detailed usability reports including the number of users and their demographics.</p>
                </div>

            </div>

            <div class="col-md-4">

                <div class="feature f-3">
                    <fa-icon class="t-i" [icon]="mobile"></fa-icon>
                    <h5 class="py-2">Screen recording</h5>
                    <p>We provide video evidence to support the usability reports.</p>
                </div>

                <div class="feature f-6">
                    <fa-icon class="si-i" [icon]="smile"></fa-icon>
                    <h5 class="py-2">Positive experience</h5>
                    <p>Our testers don’t just capture negative issues: they also identify what’s effective and appealing in
                    your site or app.</p>
                </div>

            </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="feature f-7">
                <fa-icon class="sev-i" [icon]="clipboard"></fa-icon>
                <h5 class="py-2">Quality assured</h5>
                <p>You receive moderated, prioritised<br> recommendations for change.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature f-8">
                <fa-icon class="e-i" [icon]="eye"></fa-icon>
                <h5 class="py-2">Detailed reports</h5>
                <p>Your report includes trust rating, net promoter<br> score and web usability score.</p>
            </div>
        </div>
    </div>
</div>
</div>