<div class="third-section">
    <div class="container">
        <h1 class="text-center">Digivante’s usability testing delivers</h1>
        <div class="row mt-5">
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <fa-icon class="firstIcon" [icon]="info"></fa-icon>
                <h2 class="text-center mt-3">Data-driven insight</h2>
                <p class="text-center mt-3">Your usability assessment pinpoints the obstacles that deter users from spending time and money on
                    your website, based on objective data.</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <fa-icon [icon]="addresscard"></fa-icon>
                <h2 class="text-center mt-3">Authenticity</h2>
                <p class="text-center mt-3">Your solution will be examined by a test audience that’s just like your customers, generating
                    feedback that would otherwise have remained unknown.</p>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-center">
                <fa-icon [icon]="eye"></fa-icon>
                <h2 class="text-center mt-3"> Visual Experience</h2>
                <p class="text-center mt-3">Unlike automated or scripted test cases, Digivante’s human testers will uncover graphical issues,
                    inconsistent branding and other visual reasons for lower conversions.</p>

            </div>
        </div>
    </div>
</div>
<div class="full-width-image"></div>
