.testimonial-1{
    padding: 50px 32px;
    margin: 25px 0 75px 0;
}
.sixth-l-section{
    background: linear-gradient(90deg, rgba(255,133,0,0.16) 0%,#ffffff 80%);
    padding: 35px 0px 25px 35px;
    border-radius: 20px;
}
img{
    border-radius: 5%;
}
p, h3{
    margin-bottom: 20px;
}

.left-testimonial, .right-testimonial{
    margin: 0 4rem 0 4rem;
}
.testimonial-2{
    margin: 55px 0 55px 0;
}